*
{
 
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body
{
    
    background-color: rgba(203, 30, 119, 0.4);
}

#container
{
    
    flex-direction: column;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
}

#header
{
    
    padding: 20px;
    display: flex;
    width: 100%;
    height: 100px;
    order: 1;
    display: inline-block;
}


#nav
{
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    word-spacing: 30px;
    order: 1;
}

li
{
    display: inline-block;
}
#Dom:hover
{
    transition: ease-in-out 0.5s;
    transform: scale(1.2);
    color: rgb(163, 39, 149);
}

#Dlaczego:hover
{
    transition: ease-in-out 0.5s;
    transform: scale(1.2);
    color: rgb(163, 39, 149);
}

#Powstanie:hover
{
    transition: ease-in-out 0.5s;
    transform: scale(1.2);
    color: rgb(163, 39, 149);
}
#instrukcja
{
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    order: 1;
}

a:visited
{
    color: black;
}
#start  
{
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 50px;
    text-align: center;
    order: 2;
    flex-wrap: wrap;
    
}


#nrA
{
    
    margin: 5px;
    order: 2;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrB
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrC
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrD
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrE
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrF
{
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrG
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrH
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrI
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrJ
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}
#nrK
{
    margin: 5px;
    order: 3;
    width: 200px;
    height: 50px;
    background-color:rgb(163, 39, 149) ;
    border: 2px solid rgb(163, 39, 149) ;
    border-radius: 15px;
    color: white;
}

#display
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    order: 4;
}
#zdjecieB
{
margin-top: 300px;
margin-right: 200px;
order: 7;
}